@using RefApp.Web.Common
@model RefApp.Services.Models.Product.ProductDetailsViewModel

@{
    ViewData["Title"] = "Details";
    var stock = Model.Stock;
}

<hr />
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 service-image-left">
                <div class="product col-md-3">
                    <center>
                        <img id="item-display" src="@Html.DisplayFor(model => model.ImagePath)" height="350" width="300" alt="">
                    </center>
                </div>
            </div>

            <div class="col-md-4">
                <div class="product-title"><h4>@Html.DisplayFor(model => model.Name)</h4></div>
                <div class="product-desc display-4">@Html.DisplayFor(model => model.ShortDescription)</div>
                <div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
                <hr>
                <div class="product-price"><h3>@Html.DisplayFor(model => model.Price) $</h3></div>
                <div class="product-stock">
                    @if (stock == 0)
                    {
                        <h4>Out of Stock</h4>
                    }
                    else
                    {
                        <h4>In Stock (@Html.DisplayFor(model => model.Stock))</h4>
                    }

                </div>
                <hr>
                <form id="@Model.Id" asp-action="AddToCart"
                      asp-controller="Cart" method="get">
                    <input type="hidden" name="productId" value="@Model.Id" />
                    <input type="hidden" name="returnUrl"
                           value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-success">
                        <i class="fa fa-shopping-cart"></i>
                        Add to cart
                    </button>
                    <button type="submit"
                            class="btn btn-danger"
                            asp-controller="Product" asp-action="Wishlist" asp-route-id="@Model.Id">
                        <i class="fa fa-heart-o"></i>
                        Add to whishlist
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <ul id="myTab" class="nav nav-tabs" role="tablist">

            <li class="nav-item active"><a class="btn btn-light text-black-50" href="#service-one" role="tab" data-toggle="tab">DESCRIPTION</a></li>
            <li class="nav-item"><a class="btn btn-light text-black-50" href="#service-two" role="tab" data-toggle="tab">PRODUCT INFO</a></li>
            <li class="nav-item"><a class="btn btn-light text-black-50" href="#service-three" role="tab" data-toggle="tab">COMMENTS</a></li>

        </ul>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="service-one">
                <hr />
                <section>
                    <p>@Html.DisplayFor(model => model.Description)</p>

                </section>

            </div>
            <div role="tabpanel" class="tab-pane" id="service-two">
                <hr />
                <section>
                    <h3>@Html.DisplayFor(model => model.BrandName) @Html.DisplayFor(model => model.Model) Features:</h3>
                    @foreach (var info in Model.ProductInformation.Split(';'))
                    {
                        <li class="font-weight-normal">@info</li>
                    }
                </section>

            </div>
            <div role="tabpanel" class="tab-pane fade" id="service-three">
                <hr />
                <partial name="_CommentsPartial" />
            </div>
        </div>
        <hr>
    </div>
</div>